Language: Cpp
BasedOnStyle: Google
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeComma
ColumnLimit: 80
CommentPragmas: '^NOLINT'
DerivePointerAlignment: false
IndentWidth: 4
IncludeBlocks: Regroup
IndentGotoLabels: false
NamespaceIndentation: All 
PackConstructorInitializers: Never
ReflowComments: true
TabWidth: 4
UseTab: AlignWithSpaces